.header-contain {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tipo-vestiti {
    color: antiquewhite;
}

.immagine-logo {
    width: 150px;
}

.card {
    width: calc(100% / 3 - (40px / 3));
    position: relative;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.discount-label {
    position: absolute;
    bottom: 14%;
    left: 0;
    background-color: red;
}

.img2 {
    display: none;
}

.card-01:hover .img2 {
    display: initial;
}

.card-01:hover .img1 {
    display: none;
}

.card-02:hover .img2 {
    display: initial;
}

.card-02:hover .img1 {
    display: none;
}

.card-03:hover .img2 {
    display: initial;
}

.card-03:hover .img1 {
    display: none;
}

.card-04:hover .img2 {
    display: initial;
}

.card-04:hover .img1 {
    display: none;
}

.card-05:hover .img2 {
    display: initial;
}

.card-05:hover .img1 {
    display: none;
}

.card-06:hover .img2 {
    display: initial;
}

.card-06:hover .img1 {
    display: none;
}

.discount {
    display: inline-block;
}

.sostenibilita {
    display: inline-block;
    background-color: green;
}

.footer-text {
    color: aliceblue;
}

.container-footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
}